@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Quicksand:wght@300&family=Vollkorn:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Vollkorn:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/*Estilo Catering*/
body {
  font-family: 'Quicksand','serif';
}

.catering {
  margin-top: 90px;
}

.catering .titulo {
  background: #db1a54;
  color: #110202 !important;
  text-align: center;
}

.catering .titulo h1 {
  font-family: 'Quicksand','serif';
  font-weight: 300;
}

.catering img {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  /* Animation */
  margin: 0 auto;
  border-radius: 15px;
}

.catering img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.catering h2 {
  font-family: 'Quicksand';
  font-weight: 500;
}

.catering p {
  font-size: 20px;
}

.catering .hl {
  border: 3px solid rgba(255, 79, 9, 0.993);
  width: 85%;
  border-radius: 10px;
}

.catering .separacion {
  border: 4px solid #f72b68;
  border-radius: 10px;
}

.catering .coorp .hl {
  border: 3px solid #1c3cee;
  width: 91%;
  border-radius: 10px;
}

.presupuesto h4 {
  font-family: 'Quicksand';
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 1px;
  color: #0f368b !important;
  border-radius: 20px;
  background: #ffb0d7;
  text-align: center;
}

.presupuesto h4:hover {
  background: black;
  color: white !important;
  font-size: 38px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.presupuesto .formulario {
  background: rgba(65, 105, 225, 0.8);
  font-family: 'Quicksand';
  font-weight: 500;
  color: black;
}

.presupuesto .map-container {
  overflow: hidden;
  padding-top: 50px;
  position: relative;
}

.presupuesto .map-container .map-container iframe {
  right: 10%;
  top: 30%;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Estilo viandas */
#viandas {
  margin-top: 90px;
}

#viandas .titulo {
  background: #08d1d8;
  color: #110202 !important;
  text-align: center;
}

#viandas .titulo h1 {
  font-family: 'Quicksand','serif';
  font-weight: 300;
}

#viandas .titulo h2 {
  font-weight: bold;
}

#viandas .sl {
  border: 3px solid #09eb27;
  border-radius: 100px;
  width: 50%;
}

#viandas .emoji {
  font-size: 25px;
}

#viandas .saludables .card {
  background: #caa472;
}

#viandas .stl {
  border: 3px solid #bb5548;
  border-radius: 100px;
  width: 50%;
}

#viandas .tradicionales .card {
  background: #33bb5c;
}

/*Estilo Freezeados*/
.freezeados {
  margin-top: 90px;
}

.freezeados .titulo {
  background: #7506cf;
  color: #110202 !important;
  text-align: center;
}

.freezeados .pizzas .container {
  position: relative;
  width: 60%;
  height: 70%;
  margin-right: 90px;
}

.freezeados .pizzas .image {
  width: 250px;
  height: 100%;
}

.freezeados .pizzas .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 250px;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #ba2500;
}

.freezeados .pizzas .container:hover .overlay {
  opacity: 0.8;
}

.freezeados .pizzas .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.freezeados .pizzas .pasteleria .overlay {
  background: chocolate;
}

/*Estilo contacto */
.contacto {
  margin-top: 90px;
}

.contacto .titulo {
  background: #f8cb01;
  color: #110202 !important;
  text-align: center;
}

.contacto .titulo h1 {
  font-family: 'Quicksand','serif';
  font-weight: 600;
}

.contacto .titulo:hover {
  background: black;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rounded-social-buttons {
  margin-left: 20px;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 2.54rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter {
  font-size: 20px;
}

.fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 20px;
}

.rounded-social-buttons .social-button.facebook {
  background: black;
  border: 1px solid white;
  margin-right: 0px;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.instagram {
  background: black;
  border: 1px solid white;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: white;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  border-color: #125688;
}

.icono {
  color: white;
  font-size: 30px;
}

.icono:hover {
  color: #4FCE5D;
}

.bg-dark {
  background-color: black !important;
}

.nav-link {
  font-family: 'Michroma','serif';
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 212, 159, 0.9) !important;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  font-weight: lighter;
  font-size: 11px;
  text-shadow: 0.25px 0.5px 0.8px rgba(255, 212, 159, 0.9);
}

.nav-link:hover {
  color: white !important;
  border-top: 2px solid #eb845b;
  border-bottom: 2px solid #eb845b;
  border-radius: 2px;
  font-size: 13px;
  -webkit-transition: all 0.4s !important;
  transition: all 0.4s !important;
}

.nav-item .active {
  border-bottom: 2px solid #eb845b !important;
  border-radius: 2px;
}

.carousel-item {
  width: 100%;
  height: 500px;
  background-size: cover;
}

.carousel-indicators li {
  background: black;
  height: 3px;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}

.image-fit {
  max-width: 100%;
  max-height: 100%;
}

p {
  font-family: 'Quicksand', 'serif' , 'OpenSans';
  font-weight: 700;
  text-align: left;
}

footer {
  background-color: black;
}

footer .derechos {
  padding-top: 179px;
}

footer .telefono {
  color: white !important;
  margin-left: 110px;
}

footer .rubros {
  margin-left: 20px;
}

footer .rubro {
  font-size: 0.5em;
  letter-spacing: 0.7px;
  font-family: 'Michroma','OpenSans','serif';
  color: white;
}

footer .hl {
  border: 1px solid white;
}

footer .descripcion {
  color: white !important;
  padding-top: 179px;
}

.sl {
  border: 3px solid #fc9a9c;
  border-radius: 100px;
  width: 100%;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */